html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td 
{ margin: 0; padding: 0; border: 0; outline: 0; font-size: 95%; font-family:Arial, Helvetica, sans-serif; vertical-align: middle; background: transparent; text-decoration:none; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }

/* remember to define focus styles! */
:focus { outline: 0; }
/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
.clear { clear:both; margin:0px; padding:0px;  }

/* layout styles start Here */
.wrapper
{ width:100%; background:#FFFFFF; margin:0; min-height:250px;  }
.headerarea
{ /* width:99%; padding:5px; padding-bottom:0px;*/ background:#FFFFFF; min-height:30px; }
	.logoarea
	{ width:200px; float:left; margin:5px;  }
	.logoarea span{color: red;
    position: relative;
    right: -200px;
    top: -65px;}
	.welcome_user
	{ width:59%; float:right; display:inline-block; padding:5px; text-align:right;  }
	.menuarea
	{ width:100%;  min-height:40px; background:url(../images/menu_bg.gif) left top repeat-x; float:left; }
		
		.menuarea ul
		{ width:90%; float:left; }
			.menuarea ul li
			{ float:left; padding:12px 25px 12px 25px; font-size:110%; font-weight:bold; color:#FFFFFF; background:url(../images/menu_right.gif) right top no-repeat;  }
			.menuarea ul li.active
			{ background:url(../images/active_menu.gif) left top repeat-x; }
			.menuarea ul li ul.sublist
			{display:none; width:170px; position:absolute; margin-left:-25px; margin-top:18px; background-color:#0099FF; -moz-border-radius:0 0 10px 10px;}
			.menuarea ul li.drop:hover ul.sublist, .menuarea ul li.drop2:hover ul.sublist
			{display:block; position:absolute; }
			.menuarea ul li.drop:hover
			{ background:#0099FF; min-height:20px; -moz-border-radius:10px 10px 0 0; margin-top:-5px;}
			.menuarea ul li ul.sublist li
			{ padding:8px; color:#FFFFFF; clear:left; border-bottom:#FFF dotted 1px; background-image:none; font-size:12px; font-weight:normal; width:91%}
			.menuarea ul li ul.sublist li:hover
			{ background-color:#BB0000; color:#FFFFFF; cursor:pointer; }
	
			
		.datearea
		{ width:17%; float:right; min-height:20px; text-align:right; color:#FFFFFF; padding:5px;  }	
		
.pagearea
{/* width:99%; padding:5px; */ min-height:355px;}
	.form1
	{  width:95%; clear:both; font-size:120%; }
	.form1 td.formtext
	{ text-align:right; padding:10px;  }
	.form1 th
	{ background:#0099FF; padding:12px; color:#FFFFFF; font:12px normal Arial, Helvetica, sans-serif; font-weight:bold; }
	.form1 td
	{ font-size:120%; padding:5px; background-color:#F3F3F3; border-bottom:#CCCCCC solid 1px; padding-top:10px; padding-bottom:10px; vertical-align:top; font:12px normal Arial, Helvetica, sans-serif;}
	.form1 td input[type='text'], .form1 td input[type='password']
	{ width:48%; float:left; padding:5px; border:#CCCCCC solid 1px;  }
	.form1 td select
	{ width:50%; float:left; padding:5px; border:#CCCCCC solid 1px;  }
	.form1 td input.click_btn
	{ clear:both; margin-top:10px; padding:5px; background:url(../images/input_btn_bg.gif) left top repeat-x; border:#CCCCCC solid 1px;
	 font:12px normal Arial, Helvetica, sans-serif; font-weight:bold; color:#0066FF;}


	.gridform
	{ /*width:60%;*/margin-top:10px; text-align:center; margin-bottom:10px; border:2px solid #0099FF;}
	.gridform th
	{ background:#0099FF; padding:12px; color:#FFFFFF; font:12px normal Arial, Helvetica, sans-serif; font-weight:bold;  }
	.gridform td
	{ font-size:120%; padding:5px; background-color:#F3F3F3; border-bottom:#99C3DF solid 1px; padding-top:10px; padding-bottom:10px; }
	span.form_text
	{ font:12px normal Arial, Helvetica, sans-serif; font-weight:bold;  color:#0085DF}
	.gridform td input.click_btn
	{ clear:both; margin-top:10px; padding:5px; background:url(../images/input_btn_bg.gif) left top repeat-x; border:#CCCCCC solid 1px;
	  font:12px normal Arial, Helvetica, sans-serif; font-weight:bold; color:#0066FF;}

	.gridform_final
	{ width:90%; text-align:center; margin-bottom:10px; border:2px solid #0099FF;}
	.gridform_final th
	{ background:#0099FF; padding:12px; color:#FFFFFF; font:12px normal Arial, Helvetica, sans-serif; font-weight:bold; }
	.gridform_final td
	{ font-size:120%; padding:5px; background-color:#F3F3F3; border-bottom:#CCCCCC solid 1px; padding-top:10px; padding-bottom:10px; vertical-align:top; font:12px normal Arial, Helvetica, sans-serif;
	}
	.gridform_final td input.click_btn
	{ clear:both; margin-top:10px; padding:5px; background:url(../images/input_btn_bg.gif) left top repeat-x; border:#CCCCCC solid 1px;
	 font:12px normal Arial, Helvetica, sans-serif; font-weight:bold; color:#0066FF; }
	.edit
	{ display:none; }
	
	.uniform_final
	{ width:90%; text-align:center; margin-bottom:10px; }
	.uniform_final th
	{ background:#0099FF; padding:12px; color:#FFFFFF; font-size:120%; }
	.uniform_final td
	{ font-size:120%; padding:5px; background-color:#F3F3F3; padding-top:10px; padding-bottom:10px; vertical-align:top;  border:1px solid #8FB5FF;}
	
	
.menuarea ul li a{color:#FFFFFF;}
.menuarea ul li a:hover{color:#FFFFFF;}

.mapGrid
	{ width:100%; margin-bottom:0px; margin-top:5px;}
	.mapGrid th
	{ background:#0099FF; padding:12px; color:#FFFFFF; font-size:120%; border-left:#006699 solid 1px;}
	.mapGrid td
	{ font-size:100%; padding:5px; background-color:#F3F3F3; border:#CCCCCC solid 1px; padding-top:5px; padding-bottom:10px;}
	
.detailsGrid
	{ width:100%; margin-bottom:0px;}
	.detailsGrid th
	{ background:#0099FF; padding:6px; color:#FFFFFF; font-size:120%;}
	.detailsGrid td
	{ font-size:100%; padding:5px; background-color:#F3F3F3; border-bottom:#CCCCCC dotted 1px; padding-top:5px; padding-bottom:10px; }



#usererror, #passerror, #confirmerror, #emailerror, #radioerror, #selecterror
{ color:#0033FF; font-weight:bold; padding-left:10px; display:inline;}

.footerarea
{ padding:10px; background:url(../images/menu_bg.gif) left top repeat-x;  color:#FFFFFF;}

.details td{font-size:12px; padding:3px 1px;}

.detailsBlock{float:left; margin-left:5px; width:19%;}

.mapArea{float:left; width:80%; margin:0px; padding:0px;}

.statusBlock{float:left; width:70%; background-color:#d4dff4; padding:10px 5px; margin-top:20px}

/* layout styles END Here */

.showform1
{  width:95%; clear:both; font-size:120%; display:block; }
.showform1 td.formtext
{ text-align:right; padding:10px;  }
.showform1 td input[type='text'], .showform1 td input[type='password']
{ width:48%; float:left; padding:5px; border:#CCCCCC solid 1px;  }
.showform1 td select
{ width:50%; float:left; padding:5px; border:#CCCCCC solid 1px;  }
.showform1 td input.click_btn
{ clear:both; margin-top:10px; padding:5px; background:url(../images/input_btn_bg.gif) left top repeat-x; border:#CCCCCC solid 1px;
 font-weight:600; font-size:80%; color:#0066FF; }
 
 .error_strings
 { font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#660000;}
 .error_strings ul
 { background:#FCFFC6;  border:#009900 dotted 1px; float:left; margin-left:15px; width:200px; position:absolute; margin-top:-80px;}
 .error_strings ul li
 { background:#FCFFC6; padding:12px; list-style:disc; margin-left:25px;}
 
 .listofusers
 {
	 padding:10px; font:12px normal Arial, Helvetica, sans-serif; font-weight:bold; color:#666; 
 }
.version_top{display: block;
    float: right;
    padding-right: 20px;
    padding-top: 20px;
    text-align: left;
	color:#F00;
}

info{
    position:relative; /*this is the key*/
    z-index:24; background-color:#ccc;
    color:#000;
    text-decoration:none}

a.info:hover{z-index:25; background-color:#ff0}

a.info span{display: none}

a.info:hover span{ /*the span will display just on :hover state*/
    display:block;
    position:absolute;
    top:15em; right:2em;
    border:1px solid #0cf;
    background-color:#cff; color:#000;
    text-align: center}